.contacts__list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.contacts__item {
  font-family: $fontFamilyDefault;
  font-weight: $fontWeight-500;
  font-size: $fontSize14;
  line-height: 1.172;
  letter-spacing: 0.02em;
  width: fit-content;
}

.contacts__link {
  text-decoration: none;
  -webkit-transition: color $anime-time $anime-function;
  transition: color $anime-time $anime-function;
}

.contacts__icon {
  -webkit-transition: fill $anime-time $anime-function;
  transition: fill $anime-time $anime-function;
}

.contacts {
  @media screen and (max-width: calc($desktop - 1px)) {
    margin-top: 302px;
  }
  @media screen and (min-width: $tablet) {
    margin-top: 0px;
    margin-left: auto;
  }
  // @media screen and (min-width: $desktop) {
  //   margin-left: auto;
  // }
}

.contacts__list--header {
  @extend .contacts__list;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @media screen and (max-width: calc($desktop - 1px)) {
    flex-direction: column;
    flex-direction: column-reverse;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.contacts__item--header {
  @extend .contacts__item;

  @media screen and (min-width: $desktop) {
    margin-right: 40px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.contacts__link--header {
  @extend .contacts__link;

  @media screen and (min-width: $tablet) {
    font-size: $fontSize12;
    // .contacts__item--header:first-child & {
    //   margin-bottom: 8px;
    // }
  }

  @media screen and (min-width: $desktop) {
  //   .contacts__item--header:first-child & {
  //     margin-bottom: 0px;
  //   }

    font-size: $fontSize14;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: $base-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  //   flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &:hover,
  &:focus {
    color: $select-color;
  }
}

.contacts__link--phone {
  @media screen and (max-width: calc($mobile - 1px)) {
    font-size: $fontSize34;
    color: $select-color;
  }
}

.contacts__link--mail {
  @media screen and (max-width: calc($mobile - 1px)) {
    font-size: $fontSize24;
    margin-top: 32px;
  }
  @media screen and (min-width: $tablet) {
      margin-top: 10px;
  }

  @media screen and (min-width: $desktop) {
        margin-top: 0px;
      }
}

.contacts__icon--header {
  @extend .contacts__icon;
  margin-right: 10px;
  fill: $base-color;
  .contacts__link--header:hover &,
  .contacts__link--header:focus & {
    fill: $select-color;
  }
  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }
}

.contacts__icon--mail {
  @media screen and (min-width: $tablet) {
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 12px;
  }
}
.contacts__icon--phone {

  @media screen and (min-width: $tablet) {
    width: 10px;
    height: 14px;
  }
  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 16px;
  }
}
