.page-logo {
  font-family: $fontFamilyLogo;
  font-weight: $fontWeight-700;
  font-size: $fontSize26;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: $select-color;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}
