header {
  @extend %container;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: calc($tablet - 1px)) {
    width: $mobile;
  }
}

.header-box {
  // @extend %container;
  position: relative;
  @media screen and (max-width: calc($tablet - 1px)) {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    // margin-left: auto;
    // margin-right: auto;
  }
}
&.is-fixed {
  position: fixed;
}

.page-logo--feader {
  z-index: 0;
}

.page-logo__color--header {
  @extend .page-logo;
  color: $menu-item-color;
}
